.carousel {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
    .carousel-inner{
        white-space: nowrap;
        transition: ease-out 1s;

        .carousel-item{
            width: 100%;
            display: flex;
            gap: 7%;
        }
    }
}

.carusel-control {
    position: absolute;
    font-size: 3em;
    cursor: pointer;
    top: calc(50% - 20px);
    border: none;
    background-color: none;
  }
  button{
      background-color: transparent;
      color: #ddd;
      &:hover{
          color: #6C3DFF;
          transition: .5s ease-out;
      }
  }
  .leftt {
    left: 0;
    @media (max-width: 462px) {
      background-size: 15px;
    }
  }
  .rightt {
    right: 0;
  
    @media (max-width: 462px) {
    //   right: -8%;
      background-size: 15px;
    }
  }