.carousel {
  margin: 4em auto;
  margin-bottom: 7em;
  overflow: hidden;
  width: 80%;

  @media (max-width: 1100px){
      width: 100%;
  }

  .carousel-inner {
    white-space: nowrap;
    transition: ease 1s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3.5em;
    
    .carousel-item {
      border-radius: 1em;
      text-align: center;
      border: 1px solid transparent;
      border-bottom: 9px solid transparent;
      width: 20%;
      padding: 4em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: max(15px, 0.9vw);
      @media (max-width: 1100px){
        width: 50%;
      }
      @media (max-width: 500px){
        width: 100%;
      }
    
      &:hover{
        cursor: pointer;
        border: 1px solid #6C3DFF;
        border-bottom: 9px solid #6C3DFF;
      }

      // @media (max-width: 1100px){

      // }
    
      .icon{
        border: 1px solid #fff;
        border-radius: 1.6em;
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px #ddd;
        padding: 1.3em;
        margin-bottom: 1.1em;
      }
      .link{
        display: flex;
        font-size: 14px;
        margin: 2.4em 0 0;
        p{
          margin-right: 1.4em;
        }
      }
    
    }
  }


  .carousel-indicators{
    width: 15%;
    margin:auto;
    margin-top: 2em;
    display: flex;

    .carousel-indicators-itemactive{
      background-color: #6C3DFF;
      padding: 5px 17.5px;
    }
    button{
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background-color: #ddd;
        padding: 5px 12px;
        margin: 7px;
        &:hover{
            transition: .5s ease-out;
            background-color: #6C3DFF;
        }
    }
  }
}


