* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.App {
    overflow: hidden;
}

.signup-component {
    margin-top: 6em;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .signup-form-container {
        margin: max(4em, 7vw);
        margin-right: 0;
        margin-left: 4%;
        margin-top: 5%;
        padding: max(2.7em, 4%);
        padding-top: 2.3em;
        padding-bottom: 2em;
        background-color: #fff;
        -webkit-box-shadow: 0 0 20px #ddd;
        box-shadow: 0 0 20px #ddd;
        border-radius: 2em;
        width: fit-content;

        .form-title {
            font-size: max(24px, 2vw);
            font-weight: 400;
        }

        .welcome-text {
            width: 80%;
            margin: 1em 0;
        }

        form {

            .name-input-container,
            .password-input-container {
                display: flex;
                justify-content: space-between;

                .name,
                .last-name,
                .password,
                .confirm-password {
                    width: 49%;
                }
            }

            .input-container,
            .name,
            .last-name,
            .password,
            .confirm-password {
                label {
                    font-size: max(14px, 1vw);
                }

                .inner-input-container {
                    margin: 1em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    outline: 1px solid #ddd;
                    padding: max(14px, 1vw);
                    border-radius: 2em;
                    width: 100%;

                    span {
                        margin-right: 1em;
                    }

                    input {
                        flex: 1;
                        outline: none;
                        border: none;
                        font-size: max(13px, .87vw);
                        background-color: initial;
                    }

                    .eye-icon {
                        margin-right: 0;
                        height: max(14px, 1.1vw);
                    }

                    .person-icon,
                    .lock-icon {
                        height: max(14px, 1.1vw);
                    }

                    input.form-input:-webkit-autofill,
                    input.form-input:-webkit-autofill:hover,
                    input.form-input:-webkit-autofill:focus,
                    input.form-input:-webkit-autofill:active {
                        transition: background-color 5000s ease-in-out 0s;
                        -webkit-transition: background-color 5000s ease-in-out 0s;
                        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                        box-shadow: 0 0 0px 1000px #fff inset;
                        -webkit-text-fill-color: #333 !important;
                    }
                }
            }
        }

        .suggest-password {
            display: flex;
            width: fit-content;
            margin-left: auto;
            gap: 1.5vw;
            color: #111;
        }

        .agree-terms {
            display: flex;
            justify-content: space-between;
            padding: 1em 0;

            input {
                margin-right: .5em;
            }

            .form-label-checkbox {
                font-size: max(13px, .89vw);
            }

            a {
                color: #6C3DFF;
                font-size: max(13px, .89vw);
            }
        }

        .button-container {
            margin-top: 1em;
            text-align: center;
            padding: 1em 0;
            background-color: #6C3DFF;
            border-radius: 2em;

            .submit-button {
                border: none;
                background-color: inherit;
                color: #fff;
                cursor: pointer;
            }
        }

        .login-link {
            display: flex;
            margin: 1.5em 0;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            gap: 10px;
            font-size: max(14px, .89vw);

            a {
                color: #0080FF;
            }
        }
    }


    .image {
        background-image: url("../../../../assets/SignUp/bg-image.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;

        .white-logo {
            margin-top: 6em;
            margin-bottom: 1.4em;
            display: flex;
            align-items: center;
            justify-content: center;

            .white-logo-icon {
                content: url('../../../../assets/SignUp/white-logo.svg');
                margin-right: 10px;
            }

            .white-logo-name {
                color: #fff;
                text-align: center;
                font-size: max(20px, 1.6vw);
                font-weight: 400;
            }
        }

        .help-text {
            color: #fff;
            font-size: max(14px, .88vw);
            width: 70%;
            margin-left: 20%;
            text-align: center;
            line-height: 20px;
        }

        .signup-slider-container {
            margin-top: 3.5em;
            .signup-card {
                width: 14vw;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                text-align: center;
                border-radius: 1em;
                border: 1px solid transparent;
                border-bottom: 5px solid transparent;
                padding: 2em;
                font-size: max(13px, 0.8vw);

                .icon {
                    margin: auto;
                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid #6C3DFF;
                    border-bottom: 5px solid #6C3DFF;
                }

                .icon {
                    border: 1px solid #fff;
                    border-radius: 1.6em;
                    background-color: #fff;
                    box-shadow: 1px 1px 1px 1px #ddd;
                    padding: 1.3em;
                    margin-bottom: 1.1em;
                }

                .text {
                    white-space: wrap;
                }

                .link {
                    display: flex;
                    justify-content: center;
                    font-size: max(13px, 0.8vw);
                    margin: 2em 0 0;
                    color: #111;

                    p {
                        margin-right: 1.4em;
                    }
                }

            }
        }
    }
}

// @media(max-width:1235px){
//     .signup-component{
//         .signup-form-container{
//             form{
//                 .name-input-container, .password-input-container{
//                     flex-direction: column;
//                 }
//             }
//         }
//     }
// }