

.phone-carousel{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-radius: 2em;
    box-shadow:
          0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);


    .phone-carousel-inner {
        white-space: nowrap;
        transition: ease 1s;

        .phone-carousel-item {
            display: inline-block;
            white-space: normal;
            background-color: #fff;

            width: 100%;

            .card{
                text-align: center;
                border-radius: 3em;
                padding: 2em;

                .icon{
                    margin: auto;
                    width: min(5em, 14vw);
                }
                .text{
                    margin: 5% 2%;
                    font-size: min(1em, 3vw);
                }
                .author{
                    font-size: min(1em, 3vw);
                }
            }
        }
    }
}

.phone-carousel-indicators{
    width: 20%;
    margin:auto;
    margin-top: 2em;
    display: flex;
    @media(max-width:768px) {
        margin-right: 50%;
    }


    button{
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background-color: #ddd;
        padding: 5px 10px;
        margin: 7px;
        &:hover{
            transition: .5s ease-out;
            padding: 5px 18px;
            background-color: #6C3DFF;
        }
    }
    
    .phone-carousel-indicatoractive{
      background-color: #6C3DFF;
      padding: 5px 17.5px;
    }
  }