* *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100vw;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #fff;
}

.media-bar {
    font-size: max(12px, .8vw);
    display: flex;
    padding: max(10px, 0.5vw) 3% max(10px, 0.5vw);
    border-bottom: 1px solid #ddd;
    
    .media, .download-app, .partners, .cloud, .access {
        display: flex;
        color: #222;
    }
    .download-app, .partners, .cloud {
        align-items: center;
        justify-content: center;
        margin-right: 35px;
    }
    .media p{
        margin-left: 5px;
    }

    .access .language {
        position: relative;
        .arrow {
            color: rgb(250, 250, 250);
            position: absolute;
            right: -6px;
            top: 20px;
            display: none;
        }
    }

    .access .language:hover {
        .dropdown {
            display: block;
            box-shadow: 1px 1px 1px 1px #ddd;
        }
        .arrow {
            display: block;
        }
    }

    .spacer {
        flex: 1;
    }

    .language, .contact, .support, .join_host{
        display: flex;
        align-items: center;
        margin-left: 3em;
        color: #222;
    }
    .language p, .contact p, .support p{
        margin-left: 5px;
    }

    .join_host .host {
        margin-left: 3em;
    }


    .join-menu {
        position: relative;
        cursor: pointer;

        .join-arrow {
            position: absolute;
            right: -1px;
            top: 1.1em;
            color: rgb(240, 238, 238);
            display: block;
            display: none;
        }
        .join-megamenu {
            position: absolute;
            display: block;
            background-color: #fff;
            box-shadow: 1px 1px 1px 1px #ddd;
            border-radius: 15px;
            top: 2em;
            right: -1em;
            z-index: 1;
            display: none;


            .caption {
                margin: 1em;
            }
            .join-type {
                display: flex;
                justify-content: space-between;
                margin: 1em;
                position: relative;
                cursor: pointer;
            }

            .icons {
                display: flex;
                margin-left: 1.5em;
            }
        }
        &:hover{
            .join-megamenu{
                display: block;
                box-shadow: 1px 1px 1px 1px #ddd;
            }
            .join-arrow{
                display: block;
            }
        }
    }

    .host-menu {
        display: flex;
        position: relative;
        cursor: pointer;

        .host-arrow {
            position: absolute;
            right: -1px;
            top: 1.2em;
            color: rgb(240, 238, 238);
            display: block;
            display: none;
        }

        .host-megamenu {
            border-radius: 15px;
            box-shadow: 1px 1px 1px 1px #ddd;
            position: absolute;
            background-color: #fff;
            top: 1.9em;
            right: -1.9em;
            width: 20em;
            display: block;
            display: none;
            .caption{
                margin: 1em;
            }

            .host-menu {
                margin: 1em;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                p{
                    margin-right: 1em;
                }
            }
        }

        &:hover{
            .host-megamenu{
                display: block;
                box-shadow: 1px 1px 1px 1px #ddd;
            }
            .host-arrow{
                display: block;
            }
        }
    }
}


#nav-bar {
    padding: 0 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
        display: flex;
        align-items: center;
    }
    #logo h4 {
        color: #222;
        font-size: 1.2em;
        font-weight: 400;
    }
    .icon {
        content: url('../../../assets/img/logo.svg');
        margin-right: min(10px, 0.6vw);
    }

    .nav-links {
        display: flex;
        align-items: center;
        .nav-link {
            // font-size: max(15px, .9vw);
            font-size: max(13.5px,.9vw);
            padding: max(1.75vw,20px) 1.4vw;
            cursor: pointer;
            position: relative;

            .inner-nav-link {
                display: flex;
                align-items: center;
                color: #111;

                .arrow1{
                    margin-left: .5em;
                }
                
            }

            &:hover{
                .arrow1{
                    transition: .3s ease-in;
                    transform: rotate(180deg);
                    color: #6C3DFF;
                }
                .line{
                    width: 70%;
                }

                .nav-megamenu {
                    display: block;
                }
                .megamenu-arrow{
                    display: block;
                }
            }

            .line{
                position: absolute;
                top: 92%;
                width: 0;
                background: #6C3DFF;
                height: max(2px, 0.15vw);
                border-radius: 10px;
                left:0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
            }

            .megamenu-arrow{
                position: absolute;
                color: #f3f3f3;
                font-size: 1.5em;
                top: 70%;
                left: 68%;
                display: none;
            }
        }
    }

    .auth {
        display: flex;
        align-items: center;
        font-size: max(13.5px,.9vw);

        .login-link {
            color: #222;
        }

        .signup-link {
            margin-left: min(1.5em, 2.9vw);
            border: 1px solid #6C3DFF;
            border-radius: 50px;
            background: #6C3DFF;
            padding: max(10px, 0.4vw) max(25px, 0.8vw);
            color: #fff;
            
        }
    }

}

@media (max-width: 1085px) {
    #header{
        #logo, .nav-links, .auth, .media-bar { display: none;}
        .mobile-nav{
            display: block;
        }
    }
}
