.mode-switcher-container .mode-switch{
    background: transparent;
    border: 1px solid #d3d3d3;
    display: flex;
    border-radius: max(20px, 1vw);
    width: fit-content;
    // background-color: #fff;
    .icon1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: max(20px, 1.5vw);
        height: max(20px, 1.5vw);
        border-radius: 50%;
        margin:max(2px, 0.15vw);
        color:#fff;
        cursor: pointer;
        font-size: max(13px, 0.7vw);
    }
    .active{
        background: #f3f3f3;
        color:#6C3DFF;
    }
}

body.dark-mode{
    .mode-switcher-container .mode-switch{
        .icon1{
            color: #fff;
        }
        .active{
            background: #081131;
            background: #f3f3f3;
            color:#6C3DFF;
        }
    }
}