.bussines-meetings{
    max-width: 90%;
    margin: auto;
    margin-top: 3.5em;

    .title{
        width: 60%;
        margin:auto;
        text-align: center;

        h1{
            margin-bottom: .8em;
            font-size: clamp(1.5rem, 3vw, 2.1rem);
            font-weight: 500;
        }
        p{
            font-size: clamp(1rem, 1.4vw, 1.3rem);
        }
    } 
}


