.bussines-meetings{
    max-width: 90%;
    margin: auto;
    margin-top: 3.5em;

    .title{
        width: 60%;
        margin:auto;
        text-align: center;

        h1{
            margin-bottom: .8em;
            font-size: clamp(1.5rem, 3vw, 2.1rem);
            font-weight: 500;
        }
        p{
            font-size: clamp(1rem, 1.4vw, 1.3rem);
        }
    }

    .container{
        padding: max(30px,2.5vw);
        overflow: hidden;
        position: relative;
        .card{
                border-radius: 1.5em;
                padding: 2em 3.3em;
                text-align: center;
                border: 1px solid transparent;
                border-bottom: 7px solid transparent;
                // width: 20%;
                display: inline-block;
                @media (max-width: 1068px) {
                width: 50%;
                }
                @media (max-width: 462px) {
                width: 100%;
                }

            .icon{
                width: fit-content;
                margin: auto;
                border: 1px solid #fff;
                border-radius: 1.3em;
                background-color: #fff;
                box-shadow: 1px 1px 1px 1px #ddd;
                padding: 1.2em 1em;
                margin-bottom: 1em;
            }

            &:hover{
                cursor: pointer;
                border: 1px solid #6C3DFF;
                border-bottom: 7px solid #6C3DFF;
            }
    
            .link{
                margin-top: 3em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                
                p{
                    margin-right: 7px;
                }
            }
        }

        .lines{
            width: 10em;
            margin: auto;
            margin-top: 2em;
            display: flex;
            .line{
                cursor: pointer;
                width: 20%;
                border-radius: 10px;
                padding: 4px;
                background-color: #ddd;
                margin: 7px;
                &:hover{
                    width: 40%;
                    transition: .5s ease-out;
                    background-color: #6C3DFF;
                }
            }
            .line1{
                padding: 0 10px;
                width: 40%;
                background-color: #6C3DFF;
            }
        }
    } 
}


