.home {
  overflow: hidden;
}

.bussines-meetings {
  max-width: 100%;
  margin: auto;

  .title {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 3.5em;

    h1 {
      margin-bottom: .8em;
      font-size: clamp(1.5rem, 3vw, 2.1rem);
      font-weight: 500;
    }

    p {
      font-size: clamp(1rem, 1.4vw, 1.3rem);
    }
  }

  .container {

    .business-card {
      width: 16vw;
      display: flex;
      flex-direction: column;

      text-align: center;
      border-radius: 1em;
      border: 1px solid transparent;
      border-bottom: 9px solid transparent;
      padding: 3em;
      font-size: max(15px, 0.9vw);

      @media (max-width: 1100px) {
        width: 25vw;
        margin: 0 5%;
      }
      @media (max-width: 767px) {
        width: 40vw;
        // margin: 0 5%;
      }

      @media (max-width: 500px) {
        width: 100%;
      }

      .icon {
        margin: auto;
      }

      &:hover {
        cursor: pointer;
        border: 1px solid #6C3DFF;
        border-bottom: 9px solid #6C3DFF;
      }

      .icon {
        border-radius: 1.6em;
        background-color: #fff;
        -webkit-box-shadow: 0 0 10px #ddd;
        box-shadow: 0 0 10px #ddd;
        padding: 1.3em;
        margin-bottom: 1.1em;
      }

      .text {
        white-space: normal;
      }

      .link {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin: 2.4em 0 0;

        p {
          margin-right: 1.4em;
        }
      }

    }
  }
}

body.dark-mode {
  .bussines-meetings {
    background-color: #0E0024;

    .title {

      h1,
      p {
        color: #fff;
      }
    }

    .business-card {
      color: #fff;

      .icon {
        background-image: linear-gradient(178.1deg, #211b53 8.5%, #171445 82.4%);
        -webkit-box-shadow: 0 0 10px #0E0024;
        box-shadow: 0 0 10px #0E0024;
      }
    }
  }
}