* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.call-center{
    margin-top: 9em;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;

    .info{
        margin-top: 4%;
        margin-left: 3%;
        width: 37%;
    
        .links{
            color: #6C3DFF;
            margin-bottom: 0.7em;
            font-size: 1em;
            small{
                margin-right: 0.8em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    
        h1{
            font-weight: 400;
            font-size: clamp(1rem, 2.3vw, 4rem);
        }
        p{
            font-size: min(1em, 2.2vw);
            width: 80%;
            margin: 1.3em 0;
        }
    
        .email{
            display: flex;
            border: .1px solid #333;
            border-radius: 2em;

            .email-icon{
                content: url("../../../../assets/Home/CallCanter/email.svg");
                z-index: 1;
                height: max(15px, 1.1vw);
                margin: auto min(1em, 2vw);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input{
                border: none;
                outline: none;
                flex: 1;
            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-transition: background-color 5000s ease-in-out 0s;
                -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                box-shadow: 0 0 0px 1000px #fff inset;
                -webkit-text-fill-color: #444 !important;
            }
            
            .button{
                text-align: center;
                font-size: min(1em, 1.4vw);
                padding: 1vw 2vw;
                border-radius: 0 2em 2em;
                background-color: #6C3DFF;
                a{
                    color: #fff;
                    white-space: nowrap;
                }
            }
        }
    
        .social-links{
            display: flex;
            align-items: center;
            gap: 2em;
            margin-top: 1.8em;
            font-size: min(1em, 2.2vw);
            .cloud{
                content: url("../../../../assets/Home/CallCanter/cloud.svg");
            }
            .play-store{
                content: url("../../../../assets/Home/CallCanter/playstore.svg");
            }
            .apple{
                content: url("../../../../assets/Home/CallCanter/apple.svg");
            }
            .youtube{
                content: url("../../../../assets/Home/CallCanter/youtube.svg");
            }
            .facebook{
                content: url("../../../../assets/Home/CallCanter/facebook.svg");
            }
            a{
                width: min(1em, 2.5vw);
                margin-right: min(1em, 2.2vw);
            }
        }
    }
    
    .images{
        width: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: min(1em, 1.2vw);
        margin-left: min(17.5%, 8vw);
        .contact-images{
            font-size: min(1em, 1.2vw);
            .circle1{
                position: relative;
    
                .video{
                    content: url("../../../../assets/Home/CallCanter/video.svg");
                    width: 3.7vw;
                    padding: 1.4em 1em;
                    position: absolute;
                    top: -6.8%;
                    left: 42%;
                    background-color: #6C3DFF;
                    border-radius: 1.4em;
                }
                .whatsapp{
                    .icon{
                        content: url("../../../../assets/Home/CallCanter/whatsapp.svg");
                        transform: rotateY(0deg) rotate(-30deg);
                        width: 1.5vw;
                    }
                    position: absolute;
                    top: 15%;
                    left: 2%;
                    width: 3.7vw;
                    background-color: #fff;
                    padding: 1.3em 1.2em;
                    border-radius: 1.5em;
                    box-shadow: 1px 1px 1px 1px #ddd;
                    transform: rotateY(0deg) rotate(30deg);
                }
    
                .message{
                    content: url("../../../../assets/Home/CallCanter/message.svg");
                    position: absolute;
                    top: 16%;
                    left: 85%;
                    background-color: #fff;
                    padding: .9em;
                    width: 3.7vw;
                    height: 3.7vw;
                    border-radius: 1.4em;
                    box-shadow: 1px 1px 1px 1px #ddd;
                }
    
                .phone{
                    .icon{
                        content: url("../../../../assets/Home/CallCanter/phone.svg");
                        transform: rotateY(0deg) rotate(-30deg);
                        width: 1.5vw;
                    }
                    position: absolute;
                    top: 66%;
                    left: 88%;
                    background-color: #fff;
                    padding: 1.2em 1.2em;
                    border-radius: 1.4em;
                    box-shadow: 1px 1px 1px 1px #ddd;
                    transform: rotateY(0deg) rotate(30deg);
                }
    
                .mail{
                    content: url("../../../../assets/Home/CallCanter/mail.svg");
                    position: absolute;
                    top: 66%;
                    left: -3%;
                    width: 4vw;
                    background-color: #fff;
                    padding: 1.3em 1em;
                    border-radius: 1.4em;
                    box-shadow: 1px 1px 1px 1px #ddd;
                }
    
                .sim{
                    content: url("../../../../assets/Home/CallCanter/sim.svg");
                    padding: 1em 1.3em;
                    position: absolute;
                    top: 93%;
                    left: 42%;
                    width: 4vw;
                    background-color: #fff;
                    color: white;
                    border-radius: 1.4em;
                    box-shadow: 1px 1px 1px 1px #ddd;
                }
                
                
                background-color: #f4f0ff;
                border: 1px solid #d1c2ff;
                padding: 2.5em;
                width: fit-content;
                border-radius: 50%;
                .circle2{
                    background-color: #d7ccfa;
                    border: 1px solid #d1c2ff;
                    padding: 2.4em;
                    width: fit-content;
                    border-radius: 50%;
                    .circle3{
                        background-color: #bfabfa;
                        border: 1px solid #baa4fd;
                        padding: 2.3em;
                        width: fit-content;
                        border-radius: 50%;
                        .circle4{
                            background-color: #aa90fa;
                            border: 1px solid #a184f8;
                            padding: 1.4em;
                            width: fit-content;
                            border-radius: 50%;
                            .circle5{
                                position: relative;
                                padding: 6px;
                                background-color: #fff;
                                border-radius: 50%;
                                .profile-image{
                                    content: url("../../../../assets/Home/CallCanter/profile-pic.png");
                                    height: 6.5vw;
                                    width: 6.5vw;
                                    border-radius: 50%;
                                }
    
                                .notification{
                                    position: absolute;
                                    top: -4%;
                                    right: 1%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 6px;
                                    background-color: #FF2C2C;
                                    border-radius: 3em;
                                    font-weight: 700;
                                    color: #fff;
                                    width: 2vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .arrows{
            position: relative;
            .short-arrow{
                content: url("../../../../assets/Home/CallCanter/shortarrow.svg");
                position: absolute;
                right: 20em;
                top: -6%;
                max-width: 140px;
                height: 13em;
            }
            .long-arrow{
                position: relative;
                content: url("../../../../assets/Home/CallCanter/longarrow.svg");
                width: 26em;
                height: 37em;
            }
    
            .iphone{
                .icon{
                    content: url("../../../../assets/Home/CallCanter/mobile.svg");
                    transform: rotateY(0deg) rotate(-30deg);
                    width: 1vw;
                }
                padding: 1em 1.3em;
                position: absolute;
                top: 12.5em;
                left: 10.3em;
                background-color: #fff;
                border-radius: 1.4em;
                box-shadow: 1px 1px 1px 1px #ddd;
                transform: rotateY(0deg) rotate(30deg);
            }
            .block{
    
                display: flex;
                align-items: center;
                gap: .5em;
                position: absolute;
                top: 20em;
                left: 5em;
                transform: rotateY(0deg) rotate(-18deg);
                background-color: #fff;
                border-radius: 1.4em;
                box-shadow: 1px 1px 1px 1px #ddd;
                padding: 1% 5% 1% 3%;
    
    
                .icon {
                    content: url("../../../../assets/Home/CallCanter/block.svg");
                    width: 1.6vw;
                }
            }
    
            .number{
                display: flex;
                align-items: center;
                gap: .5em;
                position: absolute;
                top: 27em;
                left: 13em;
                transform: rotateY(0deg) rotate(30deg);
                background-color: #fff;
                border-radius: 1.4em;
                box-shadow: 1px 1px 1px 1px #ddd;
                padding: 2% 5% 2% 3%;
    
                .icon{
                    content: url("../../../../assets/Home/CallCanter/call.svg");
                    width: 1.2vw;
                }
            }
    
            .host{
                .icon{
                    content: url("../../../../assets/Home/CallCanter/host.svg");
                    transform: rotateY(0deg) rotate(-30deg);
                    width: 2.4vw;
                }
                position: absolute;
                top: 29em;
                left: 6em;
                transform: rotateY(0deg) rotate(35deg);
                background-color: #fff;
                border-radius: 1.6em;
                box-shadow: 1px 1px 1px 1px #ddd;
                padding: 5% 4%;
            }
        }
    }
}

@media (max-width: 918px) {
    .call-center{
        display: block;
        margin: 0;

        .info{
            width: 90%;
            margin: auto;
            margin-top: 10em;

            h1{
                font-size: 1.9em;
            }
            p{
                font-size: .8em;
            }

            .email{
                font-size: 1em;
                input{
                    font-size: .8em;
                    padding: 1em 0;
                }

                .button{
                    font-size: .8rem;
                    padding: 1em;
                }
                
            }

            .social-links{
                font-size: .9em;
            }

        }

        .images{
            margin: 5%;
            display: flex;
            width:80%;
            justify-content: space-between;
            gap: 4em;
            font-size: .5em;

            .contact-images{
                font-size: min(2.2em, 1.3vw);

                .circle1{
                    .video, .whatsapp, .sim, .message, .mail{
                        width: 5em;
                    }
                    .message{
                        height: 5em;
                    }
                    .whatsapp{
                        .icon{
                            width: 2.2em;
                            margin: auto;
                        }
                    }
                    .phone{
                        .icon{
                            width: 2.2em;
                            margin: auto;
                        }
                    }

                    .circle2 .circle3 .circle4 .circle5 .profile-image{
                        height: 5em;
                        width: 6em;
                    }
                }
            }
        }
    }

    
}