.home{
    overflow: hidden;
}


.cloud-based{
    margin: 8em 3%;
    margin-top: 10em;

    .title{
        margin-bottom: 3em;
        h6{
            text-align: center;
            font-size: min(2.2em, 6vw);
            font-weight: 400;
        }
    }
    .cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card{
            width: 24%;
            padding: 2%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &:hover{
                border-radius: 1.5em;
                background-color: #fff;
                box-shadow: 0 0 20px #ddd;
                -webkit-box-shadow: 0 0 10px #ddd;
                transition: .5s ease-in-out;
            }
            @media (max-width:1020px){
                width: 48%;
                margin-bottom: 8%;
                &:hover{
                    border-radius:0;
                    background-color: initial;
                    box-shadow:none;
                }
            }
            @media (max-width:600px){
                width: 100%;
                margin: 2em 0;
                // border: 1px solid #222;
            }

            .head{
                font-size: max(15px, 1vw);
                display: flex;
                justify-content: space-between;
                .number{
                    position: relative;
                    width: min(2.2em, 8vw);
                    height: min(2.2em, 8vw);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px dotted #6C3DFF;
                    &::before{
                        content: '';
                        z-index: -2;
                        position: absolute;
                        left: 13%;
                        width: min(2.2em, 8vw);                            
                        height: min(2.2em, 8vw);
                        border-radius: 50%;
                        background-color: #cec0fa;

                    }
                }
            }

            .title{
                margin: 7% 0;
                font-size: max(15px, 1vw);
            }
            .text{
                font-size: max(15px, 1vw);
                line-height: 1.5em;
            }

            .link{
                color: #111;
                font-size: max(15px, 1vw);
                margin: 10% 0;
                margin-bottom: 0;
                display: flex;
                gap: 15%;
            }
        }
    }
}