.home {
    overflow: hidden;
}

.connections {
    display: flex;
    justify-content: space-between;
    padding: 3.5%;
    padding-right: 0;

    .info {
        width: 33vw;
        margin-top: 3em;

        .title {
            font-size: min(1.8em, 3vw);
        }

        .description {
            font-size: min(15px, 1.1vw);


            .first-paragraph {
                position: relative;
                display: flex;
                margin-top: 3em;

                .phone-icon {
                    position: relative;
                    top: 4px;
                    content: url("../../../../assets/Home/Connections/phone.svg");
                    margin: 1em;
                    margin-right: 3em;
                    height: 1.2em;
                }

                .text {
                    line-height: 20px;
                }
            }

            .second-paragraph {
                position: relative;
                display: flex;
                margin: 2em 0;

                .message-icon {
                    position: relative;
                    top: 3px;
                    content: url("../../../../assets/Home/Connections/message.svg");
                    margin: 1em;
                    margin-right: 2.8em;
                    height: 1.2em;
                }

                .text {
                    line-height: 20px;
                }
            }

            .dot {
                position: absolute;
                padding: 1.7em 1.6em;
                border: 2px dotted #6C3DFF;
                border-radius: 50%;
            }

            .background {
                position: absolute;
                left: 2%;
                padding: 1.8em 1.7em;
                background-color: #ebe5fc;
                border-radius: 50%;
                z-index: -1;
            }

            .payment {
                margin-top: 3em;

                .trial {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 1em;
                    gap: 3em;

                    .get-started {
                        background-color: #6C3DFF;
                        border-radius: 0 4em 4em 4em;
                        padding: min(1em, 2vw) min(2em, 4vw);

                        a {
                            color: #fff;
                        }
                    }

                    .free-trial {
                        a {
                            color: #6C3DFF;
                        }
                    }
                }

                .credit-card {
                    color: #777;
                }
            }
        }
    }

    .container {
        position: relative;
        left: 5%;
        // margin-left:auto;

        .images {
            .first-arrow {
                content: url("../../../../assets/Home/Connections/line1.svg");
                position: absolute;
                top: 12%;
                right: 101%;
                width: max(8em, 15vw);
                // max-width: 15em;
            }

            .second-arrow {
                content: url("../../../../assets/Home/Connections/line2.svg");
                position: absolute;
                top: 19%;
                right: 101%;
                width: max(21vw, 9em);
            }

            .third-arrow {
                content: url("../../../../assets/Home/Connections/line3.svg");
                position: absolute;
                top: 19%;
                right: 101%;
                max-height: 30vw;
            }

            .fourth-arrow {
                content: url("../../../../assets/Home/Connections/line4.svg");
                position: absolute;
                top: 37%;
                right: 102%;
                width: max(13vw, 7.5em);
            }

            .fifth-arrow {
                content: url("../../../../assets/Home/Connections/line5.svg");
                position: absolute;
                top: 48%;
                right: 102%;
                width: max(21vw, 8.8em);
            }

            .sixth-arrow {
                content: url("../../../../assets/Home/Connections/line6.svg");
                position: absolute;
                top: 48.5%;
                right: 102%;
                width: max(13vw, 7.5em);
            }

            .seventh-arrow {
                content: url("../../../../assets/Home/Connections/line7.svg");
                position: absolute;
                top: 26%;
                right: 102%;
                width: max(22vw, 9em);
            }

            .eighth-arrow {
                content: url("../../../../assets/Home/Connections/line8.svg");
                position: absolute;
                top: 60%;
                right: 102%;
                width: max(21vw, 9em);
            }

            .ninth-arrow {
                content: url("../../../../assets/Home/Connections/line9.svg");
                position: absolute;
                top: 83%;
                right: 102%;
                width: max(15vw, 6em);
            }

            // photos
            .border1 {
                position: absolute;
                top: -1vw;
                left: -17vw;
                border-radius: 50%;
                padding: 5px;
                background-color: #FA9950;

                .first-photo {
                    content: url("../../../../assets/Home/Connections/photo1.png");
                }
            }

            .border2 {
                position: absolute;
                top: 10vh;
                left: -26vw;
                border-radius: 50%;
                padding: 5px;
                background-color: #FAD103;

                .second-photo {
                    content: url("../../../../assets/Home/Connections/photo2.png");
                }
            }

            .border3 {
                position: absolute;
                top: 29vh;
                left: -16vw;
                border-radius: 50%;
                padding: 5px;
                background-color: #EB5656;

                .third-photo {
                    content: url("../../../../assets/Home/Connections/photo3.png");
                }
            }

            .border4 {
                position: absolute;
                top: 54%;
                left: -24vw;
                border-radius: 50%;
                padding: 5px;
                background-color: #64A2FF;

                .fourth-photo {
                    content: url("../../../../assets/Home/Connections/photo4.png");
                }
            }

            .border5 {
                position: absolute;
                top: 59vh;
                left: -18vw;
                border-radius: 50%;
                padding: 5px;
                background-color: #7BEAA5;

                .fifth-photo {
                    content: url("../../../../assets/Home/Connections/photo5.png");
                }
            }

            .first-photo,
            .second-photo,
            .third-photo,
            .fourth-photo,
            .fifth-photo {
                width: max(2.5em, 5vw);
                height: max(2.5em, 5vw);
                border-radius: 50%;
            }

        }

        .connection-type {

            .icons {
                display: inline-block;
                margin-right: 1vw;
                margin-top: max(2vw, 1.8em);
                margin-bottom: min(4em, 6vw);
                background-color: #fff;
                border-radius: 1.5em;
                box-shadow: 1px 1px 1px 1px #ddd;
                width: max(2.6em, 4vw);
                height: max(2.6em, 4vw);


                .icon {
                    margin: auto;
                    margin-top: 1em;
                    width: max(.9em, 1.85vw);
                    height: max(.9em, 1.85vw);
                }
            }

            .connection-text {
                font-size: max(.8em, .88vw);
                width: 75%;
            }
        }
    }
}

@media (max-width:1360px) {
    .connections {
        // margin:  1vw;
        padding: 1vw;
        .info{
            width: 28vw;
        }
    }
}

@media (max-width:1024px) {
    .connections {
        flex-direction: column;
        gap: 3.5em;

        .info {
            
            .title {
                font-size: 1.34rem;
            }

            margin-bottom: 5vw;
            width: 80%;
            margin: auto;

            .description {
                font-size: 15px;
            }
        }

        .container {
            margin: .5em .5em .5em 44%;

            .images {
                .first-arrow {
                    top: 14%;
                }

                .second-arrow {
                    width: max(20vw, 9.3em);
                }

                .third-arrow {
                    top: 19%;
                }

                .fourth-arrow {
                    top: 41%;
                }

                .fifth-arrow {
                    top: 51%;
                }

                .sixth-arrow {
                    top: 51.5%;
                }

                .seventh-arrow {
                    top: 52%;
                }

                .eighth-arrow {
                    top: 73%;
                }

                .ninth-arrow {
                    top: 86%;
                }

                .border1 {
                    top: 2vh;
                    left: -20vh;
                }

                .border2 {
                    top: 9vh;
                }

                .border3 {
                    left: -20vw;
                }

                .border4 {
                    top: 32vh;
                }

                .border5 {
                    top: 86%;
                    left: -21vw;
                }
            }

            .connection-type {
                .connection-text {
                    font-size: 12px;
                    line-height: 15px;
                    width: 90%;
                }
            }
        }
    }
}

@media(max-width:550px) {
    .connections {
        .info{
            width: 90%;
            margin: auto;
        }
        .container {
            .images {
                .border2 {
                    left: -47vw;
                }

                .border3 {
                    top: 20vh;
                    left: -40vw;
                }

                .border4 {
                    left: -43vw;
                    top: 31vh;
                }

                .border5 {
                    left: -35vw;
                }
            }
        }
    }
}


body.dark-mode {
    .connections {
        background-color: #0E0024;

        .info {
            color: #fff;
        }

        .connection-type {
            color: #fff;

            .icons {
                background-image: linear-gradient(178.1deg, #211b53 8.5%, #171445 82.4%);
                -webkit-box-shadow: 0 0 10px #0E0024;
                box-shadow: 0 0 10px #0E0024;
            }
        }
    }
}