.home{
    overflow: hidden;
}


.phone-system{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url("../../../../assets/Home/phonesystem/bg-image.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 7% 8% 2% 8%;

    @media(max-width: 900px){
        padding: 8% 5% 1em 4%;
    }
    @media (max-width: 768px) {
        display: block;
    }

    .content {
        color: #fff;
        width: 34vw;
        @media(max-width: 768px){
            width: 100%;
        }

        .title{
            font-size: max(30px, 2vw);
            line-height: 30px;
        }
        p{
            line-height: 1.6;
            margin: 1em 0;
            font-size: max(15px, .89vw);
        }
        .link{
            width: 100%;
            margin: 2.5em 0;
            a{
                display: flex;
                gap: 4em;
                color: #fff;
                font-size: max(15px, .89vw);
                .arrow-icon{
                    content: url("../../../../assets/Home/phonesystem/arrow.svg");
                }
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                &:hover {
                    animation-name: bounce;
                    animation-timing-function: ease;
                }
                @keyframes bounce {
                  0%   { transform: translateX(0); }
                  50%  { transform: translateX(20px); }
                  100% { transform: translateX(0); }
                }
            }
        }
    }
    .container{
        .phone-image{
            content: url("../../../../assets/Home/phonesystem/image1.png");
            width: min(30em, 40vw);
            position: absolute;
            right: 10%;
            @media (max-width: 768px) {
                left: 52%;
            }
        }
        .circle1{
            position: absolute;
            top: 15vw;
            left: 70%;
            padding: .4em;
            background-color: rgba(108, 61, 255, .4);
            border-radius: 50%;
            @media (max-width: 768px) {
                top: 85%;
            }
            .circle2{
                padding: .4em;
                background-color: #fff;
                border-radius: 50%;
                .circle3{
                    padding: min(1.5em, 4vw) min(1.2em, 2.5vw);
                    background-color: rgb(235, 235, 235);
                    border-radius: 50%;
                    .video-icon{
                        content: url("../../../../assets/Home/phonesystem/video-camera.svg");
                        width: min(1.7em, 4vw);
                        z-index: 2;
                    }
                }
            }
        }

        .slider{
            position: absolute;
            top: 90%;
            right: 23%;

            @media (max-width: 768px) {
                top: 120%;
                right: 3%;
                width: 95%;
            }
        }
    }

    .big{
        position: absolute;
        top: 74%;
        left: -4%;
        z-index: -1;
        .circle1{
            padding: min(1em, 3vw);
            border-radius: 50%;
            background-color: rgba(108, 61, 255, .18);
            .circle2{
                padding: min(2em, 3vw);
                border-radius: 50%;
                background-color: rgba(108, 61, 255, .2);
                .circle3{
                    padding: min(2em, 3vw);
                    border-radius: 50%;
                    background-color: rgba(108, 61, 255, .2);
                    .circle4{
                        padding: min(3em, 2.7vw);
                        border-radius: 50%;
                        background-color: rgba(108, 61, 255, .1);
                    }
                }
            }
        }
    }
    .medium{
        position: absolute;
        top: 79%;
        left: 19vw;
        z-index: -1;
        .circle1{
            padding: min(.8em, 2vw);
            border-radius: 50%;
            background-color: rgba(108, 61, 255, .1);
            .circle2{
                padding: min(1.2em, 1.9vw);
                border-radius: 50%;
                background-color: rgba(108, 61, 255, .15);
                .circle3{
                    padding: min(1.2em, 1.9vw);
                    border-radius: 50%;
                    background-color: rgba(108, 61, 255, .1);
                    .circle4{
                        padding: min(2.2em, 2vw);
                        border-radius: 50%;
                        background-color: rgba(108, 61, 255, .07);
                    }
                }
            }
        }
    }
    .small{
        position: absolute;
        top: 120%;
        left: 13%;
        z-index: -1;
        .circle1{
            padding: min(.5em, 1.5vw);
            border-radius: 50%;
            background-color: rgba(108, 61, 255, .08);
            .circle2{
                padding: min(.7em, 1.6vw);
                border-radius: 50%;
                background-color: rgba(108, 61, 255, .1);
                .circle3{
                    padding: min(.7em, 1.9vw);
                    border-radius: 50%;
                    background-color: rgba(108, 61, 255, .1);
                    .circle4{
                        padding: min(.9em, 2vw);
                        border-radius: 50%;
                        background-color: rgba(108, 61, 255, .07);
                    }
                }
            }
        }
    }
}
