.home{
    overflow: hidden;
}

.tools{
    width: 90%;
    margin: auto;
    margin-bottom: 8%;

    .title{
        font-size: max(27px, 2.4vw);
        text-align: center;
        margin: 8% 0;
    }

    .tools-used{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        justify-content: center;

        .tool{
            display: flex;
            align-items: center;
            width: 18vw;
            margin-bottom: 3em;

            .logo{
                margin-right: 5%;
                height: max(40px,4vw);
            }
            .name{
                font-size: max(18px, 1.2vw);
            }

            @media (max-width:768px){
                width: 30%;
            }
            @media (max-width:600px){
                width: 40%;
            }
            @media (max-width:460px){
                width: 40%;
                display: block;
                text-align: center;
                .logo{
                    margin: auto;
                    margin-bottom: 1em;
                }
            }
        }

    }

    .integrations{
        color: #222;
        width: 60vw;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin: auto;
    }

}

body.dark-mode{
    .tools{
        color: #fff;

        .integrations{
            color: #fff;
        }
    }
}