.select-language {
    position: relative;
    background-color: #fff;
    font-size: 15px;

    .dropdown {
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 20px #ddd;
        -webkit-box-shadow: 0 0 20px #ddd;
        top: 32px;
        cursor: pointer;
        z-index: 1;
        border-radius: 15px;
        width: 12em;
        display: block;
        display: none;

        &:hover {
            display: block;
        }

        .single-language {
            display: flex;
            align-items: center;
            .flag {
                margin: 10px 14px;
            }
        }
    }

    .selected-language {
        display: flex;
        align-items: center;
        cursor: pointer;
        img{
            margin-right: 7px;
        }
    }
}

body.dark-mode{
    .select-language{
        .dropdown{
            background-image: linear-gradient(178.1deg, #211b53 8.5%, #171445 82.4%);
            -webkit-box-shadow: 0 0 10px #0E0024;
            box-shadow: 0 0 10px #0E0024;
            .single-language{
                .text{
                    span{
                        color: #fff;
                    }
                }
            }
        }
    }
}