.select-language {
    position: relative;
    background-color: #fff;
    font-size: 15px;

    .dropdown {
        position: absolute;
        background-color: #fff;
        top: 32px;
        cursor: pointer;
        z-index: 1;
        border-radius: 15px;
        width: 12em;
        display: block;
        display: none;

        &:hover {
            display: block;
        }

        .single-language {
            display: flex;
            align-items: center;
            .flag {
                margin: 10px 14px;
            }
        }
    }

    .selected-language {
        display: flex;
        align-items: center;
        cursor: pointer;
        img{
            margin-right: 7px;
        }
    }
}