.signup-carousel {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    .signup-carousel-item {
        transition: ease 1s;

        .carousel-inner{
            display: flex;
            .slider-item {
                width: 63%;
                margin: auto;
                margin-left: 26%;
    
                .inner-items {
                    width: 30vw;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 1em 0;
                    .container{
                        display: flex;
                    }
                }
            }
        }
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-left: 3em;
        display: flex;

        .carousel-indicatoractive {
            background-color: #6C3DFF;
            padding: 3px 17.5px;
        }

        button {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            background-color: #ddd;
            padding: 3px 10px;
            margin: 7px;

            &:hover {
                transition: .5s ease-out;
                background-color: #6C3DFF;
                padding: 3px 17.5px;
            }
        }
    }
}