.signup-carousel {
    margin-left: 27%;
    overflow: hidden;
    position: relative;

    .signup-carousel-item {
        transition: ease 1s;

        .carousel-inner {
            display: flex;
            gap: 2vw;

            .slider-item {

                .inner-items {
                    width: 35vw;
                    display: flex;

                    flex-wrap: wrap;
                    gap: 2em;
                }
            }
        }
    }

    .carousel-indicators {
        display: flex;
        margin-left: 10vw;
        width: fit-content;
        margin-top: 2em;

        .carousel-indicatoractive {
            background-color: #6C3DFF;
            padding: 3px 17.5px;
        }

        button {
            cursor: pointer;
            border: none;
            border-radius: 10px;
            background-color: #ddd;
            padding: 3px 10px;
            margin: 7px;

            &:hover {
                transition: .5s ease-out;
                background-color: #6C3DFF;
                padding: 3px 17.5px;
            }
        }
    }
}

@media(max-width:1120px) {
    .signup-carousel {
        .signup-carousel-item {
            .carousel-inner {
                gap: 15em;

                .slider-item {
                    // border: 1px solid red;

                    .inner-items {
                        // border: 2px solid white;
                        width: 50vw;
                    }
                }
            }
        }
    }
}
@media(max-width:880px) {
    .signup-carousel {
        .signup-carousel-item {
            .carousel-inner {
                gap: 12em;
            }
        }
    }
}
@media(max-width:700px) {
    .signup-carousel {
        .signup-carousel-item {
            .carousel-inner {
                gap: 10em;
            }
        }
    }
}

@media(max-width:550px) {
    .signup-carousel {
        margin-left: 35%;
        .signup-carousel-item {
            .carousel-inner {
                gap: 2.7em;
                .slider-item {
                    .inner-items {
                        width: 80vw;
                    }
                }
            }
        }
    }
}